.mobile_cart_botoom_container,.box-giftproduct_mobile,.for_mobile_range,.for_mobile,.mobile_flex,.box-summary .product-item__badges{
    display: none;
}
.for_desktop_range,.for_desktop_range,.for_desktop{
    display: block;
}
.desktop_flex{
    display: flex;
}
.box-summary .promo_desktop .imageforcart img{
    width: 100%;
}
.box-summary .promo_desktop .imageforcart{
    width: 80%;
}
.box-summary .promo_desktop .flexdirrow{
    width: 20%;
}
@media screen and (max-width: 1024px){
    .product-container{
        height: 530px;
    }
    .for_mobile_flex{
        display: none;
    }
    .for_desktop_flex{
        display: flex;
    }
}
@media screen and (max-width: 700px){
    :root{
        --color-maroon: #862E1B;
        --color-green: #425B34;
        --color-white:#FFFFFF;
        --color-off-white:#F3F4F6;
        --color-gray:#AAAAAA;
        --color-gray_1:#0000006E;
        --color-gray_2:#919191;
        --color-gray_4:#F4F4F4;
        --color-gray_5:#E7EAE5;
        --color-black:#000000;
        --color-white-1:#EAEAEA;
        --color-white-2: #EEEDED;
        --color-blue:#1B7084;

    }
    .box-header .product-item.card.container-box{
        border: 1px solid var(--color-green);
        border-bottom: none;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .box-header .box-giftproduct_mobile .product-item.card.container-box{
        border: 1px solid var(--color-green);
    }
    .carttoplabel {
        display: flex;
        padding: 5px;
        justify-content: space-around;
        align-items: center;
        background: var(--color-white-2);
    }
    .mount-css-slider span.section-heading__subheading.text-size--large, .buncleselectlabel{
        font-size: 16px;
        text-align: left;
        font-weight: bold;
        width: auto;
    }
    .cartarrow{
        border: 1.5pt solid var(--color-green);
        padding: 2px 10px;
        border-radius: 40px;
        color: var(--color-black);
        font-weight: 600;
    }
    .box-header-title{
        display: none;
    }
    .for_desktop_range{
        display: none;
    }
    .for_mobile_range{
        display: block;
    }
    .carttoplabel.for_mobile_flex,.mobile_flex{
        display: flex;
    }
    .carttoplabel.for_desktop_flex,.desktop_flex{
        display: none;
    }
    .for_mobile_range .range-labels li{
        left: 18%;
    }
    .for_mobile_range .range-labels li span{
        font-size: 12px;
    }
    .range-labels li.label130 span{
        margin-left: -30px;
    }
    .range-labels li.label90 span{
        margin-left: -14px;
    }
    .progress-container{
        /* padding-bottom: 5%; */
    }
    .range-labels li::before,.box-summary::-webkit-scrollbar-thumb,.range-labels li.label90:before {
        background: var(--color-maroon);
    }
    .range-input input{
        border-radius: 20px;
        height: 20px;
    }
    .range-input input::-webkit-slider-thumb{
        background: #862E1B;
        background-color: #862E1B;
        box-shadow: -50rem 0 5rem 20rem #862E1B,
                    -40rem 0 5rem 30rem #862E1B,
                    -30rem 0 2rem 25rem #862E1B,
                    -25.5rem 0 0 25rem  #862E1B;
      }
      .range-input input::-moz-range-thumb{
        background: #862E1B;
        background-color: #862E1B;
        box-shadow: -50rem 0 5rem 20rem #862E1B,
                    -40rem 0 5rem 30rem #862E1B,
                    -30rem 0 2rem 25rem #862E1B,
                    -25.5rem 0 0 25rem  #862E1B;
      }
      .range-input input.bg-green::-webkit-slider-thumb{
        background: var(--color-green);
        background-color: var(--color-green);
        box-shadow: -50rem 0 5rem 20rem var(--color-green),
                    -40rem 0 5rem 30rem var(--color-green),
                    -30rem 0 2rem 25rem var(--color-green),
                    -25.5rem 0 0 25rem  var(--color-green);
      }
      .range-input input.bg-green::-moz-range-thumb{
        background: var(--color-green);
        background-color: var(--color-green);
        box-shadow: -50rem 0 5rem 20rem var(--color-green),
                    -40rem 0 5rem 30rem var(--color-green),
                    -30rem 0 2rem 25rem var(--color-green),
                    -25.5rem 0 0 25rem  var(--color-green);
      }
    .range-labels li.label90.bg-green:before,.range-labels li.bg-green.label130:before{
        background: var(--color-green);
    }
    .range-labels li.label90:before,.range-labels li:before{
        position: absolute;
        top: -35.5px;
        right: -15px;
        content: "";
        margin: 0 auto;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        color: var(--color-white);
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;

    }
    .range-labels li::before{
        content: "$125";
    }
    .range-labels li.label90:before{
        content: "$75";
    }
    .box-summary{
        display: flex;
        flex-wrap: wrap;
        /* overflow-y: hidden;
        overflow-x: auto; */
        /* height: 42%; */
        height: 55%;
        padding: 5px;
        padding-bottom: 90px;
    }
    .box-summary .product-item,.box-summary .flexdirrow{
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    .box-footer{
        /* bottom: 7%;
        position: relative; */
        box-shadow: 0px -3px 15px -5px #333;
        z-index: 999;
        position: relative;
        position: fixed;
        bottom: 0;
    }
    .cartcolumn .box-header{
        top: 0;
    }
    .product-container{
        /* height: 520px; */
        height: 100%;
        border: unset;
    }
    .box-summary {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
    .box-summary .product-quantity{
        background: var(--color-green);
    }
    .box-summary .bottom_product_container{
        width: 100%;
    }
    .box-summary .product-quantity__minus, .box-summary .product-quantity__plus{
        background:var(--color-green);
        color: var(--color-white);
        border-color: var(--color-green);
        height: 2rem;
        border-radius: unset;
        width: 33.3%;
    }
    .box-summary .product-quantity__minus{
        border-bottom-left-radius: 3px;
        border-top-left-radius: 3px;
    }
    .box-summary .product-quantity__plus{
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;  
    }
    .box-summary .product-quantity{
        background: var(--color-white);
        align-items: center;
        padding: 0;
        min-width: calc(var(--button-product) * 2);
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    }
    .box-summary .product-quantity__selector{
        background:var(--color-off-white);
        height: 2rem;
        margin: 0;
        width: 33.3%;
    }
    .product__cart-functions,.product-container .box-giftproduct,.labelretunshop,.cartfontcontainer,.box-summary::-webkit-scrollbar{
        display: none;
    }
    .mobile_cart_botoom_container,.product-container .box-giftproduct_mobile{
        display: block;
    }
    .box-giftproduct_mobile{
        margin: 2%;
    }
    .box-giftproduct_mobile .product-variant-select{
        padding-right: 25px;
        font-size: 10px;
        padding-left: 2%;
        background-position: calc(100% - 0.2rem) center;
        margin-bottom: 1px;
        border: unset;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        background-size: 0.6rem;
    }
    .giftselection{
        border-top:  1px solid var(--color-green);
        border-radius: 2px;
    }
    .box-giftproduct_mobile.lockproduct{
        opacity: .22;
    }
    .mobile-add-cart{
        background:var(--color-gray);
        border: unset;
        border-radius: 15px;
        width: 100%;
        margin-top: 10px;
    }
    .mobile-add-cart span{
        font-size: 16px;
    }
    .mobile-add-cart.bg-green{
        background:var(--color-green);
    }
    .save_label{
        font-size: 12px;
        font-weight: normal;
        border-radius: 15px;  
        border: 3px solid var(--color-gray);
        padding: 2px 10px 0px;
        margin: 0 auto;
        background: var(--color-gray);
        color: var(--color-white);
        text-transform: uppercase;
    }
    .save_label.active{
        background: var(--color-green);
        color: var(--color-white);
        border: 3px solid var(--color-green);
    }
    .subscription_mobile_container  .subscriptionlabel .subscribename{
        border: 3px solid var(--color-white-1);
        color: var(--color-black);
        background: var(--color-white);
        justify-content: center;
        border-radius: 15px;
        font-size: 18px;
        line-height: 1;
    }
    .subscription_mobile_container  .subscriptionlabel.active .subscribename{
        border: 3px solid var(--color-green);
    }
    .subscription_mobile_container .subscriptionOption p{
        margin-bottom: 0;
        text-decoration-line: line-through;
        text-decoration-color: var(--color-gray_2);
        color: var(--color-gray_1);
        text-decoration-thickness: 3px;
    }
    .select_frequency_text_container{
        background:var(--color-gray_4);
        border-radius: 15px;
    }
    .subscriptionlabel.active .select_frequency_text_container,.subscription_mobile_container .subscriptionlabel.active .select_frequency_text_container .frequency_text{
        background:var(--color-gray_5);
    }
    .subscription_mobile_container .subscriptionlabel .select_frequency_text_container .frequency_text{
        width: 100%;
        padding: 0 10px;
        background:var(--color-gray_4);
        border-radius: 15px;
    }
    .select_frequency_text_container .frequency_text ul{
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 0px;
        height: 100%;  
    }
    .subscription_mobile_container .subscriptionlabel.active .svgcolor{
        color: var(--color-green);
    }
    .subscription_mobile_container .subscriptionlabel .svgcolor{
        color: var(--color-gray);
    }
    .select_frequency_text_container .frequency_text li{
       font-size: 10px;
    }
    .select_frequency_container{
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .select_freqncy_label{
        font-size: 14px;
        font-weight: 700;
    }
    .frequncy_select_btn{
        font-size: 11px;
        color: var(--color-black);
        background: var(--color-white);
        border-radius: 15px;
        padding: 3px 15px;
        /* font-weight: 600; */
        border: 1px solid var(--color-gray);
    }
    .subscriptionlabel .frequncy_select_btn.active{
        background: var(--color-gray);
        border-color:  var(--color-gray);
        color: var(--color-white);
    }
    .subscriptionlabel.active .frequncy_select_btn{
        border-color:  var(--color-green);
    }
    .subscriptionlabel.active .frequncy_select_btn.active{
        background: var(--color-green);
        border-color:  var(--color-green);
        color: var(--color-white);
    }
    /* subscription container */
    .main-part{
        display: none;
        margin-bottom: -21px;
        margin-top: 4px;
    }
    .image-icon{
        width: 25%;
    }
    .image-icon img{
        width: 45%;
    }
    .text-sector{
        width: 50%;
        text-align: left;
    }
    .text-part{
        font-size: 12px;
        font-weight: 800;
    }
    .text-sector p{
        font-size: 10px;
        width: 100%;
    }
    .price-sign{
        width: 25%;
    }
    .dollar{
        font-size: 12px;
        font-weight: 700;
    }
    .main-part .icon-btn .switch-icons {
        position: relative;
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        width: 35px;
        height: 20px;
        border-radius: 30px;
        cursor: pointer;
        background:var(--color-gray);
        transition: box-shadow 0.3s ease-in-out, padding 0.25s ease-in-out;
        transition-delay: 0.1s, 0s;
        padding: 0;
        -webkit-appearance: none;
        appearance: none;
   }
    .icon-btn .switch-icons:focus {
        border: 0;
        outline: 0;
   }
   .main-part .icon-btn .switch-icons:checked {
        box-shadow: inset 0 0 0 2.62857em var(--color-green);
        padding-left: 15px;
   }
    .icon-btn .switch-icons:before {
        display: inline-block;
        height: 14px;
        width: 14px;
        margin: 2px;
        background-color: var(--color-white);
        border-radius: 2.1em;
        transition: all 0.1s ease 0.1s;
   }
    .icon-btn .switch-icons:before,.icon-btn .switch-icons:after {
        content: "";
        display: block;
   }
    .icon-btn .switch-icons:active::before {
        transition: all 0.1s ease 0.05s;
   }
   .box-summary .productsimage img, .cartgiftproduct img, .box-summary .freeTurkey img,.box-summary .freeTurkey .promo-product img,.box-giftproduct_mobile img,.box-giftproduct_mobile{
        width: 100%;
   }
   .box-giftproduct_mobile .freeproductimg.freeimgpadding{
        padding-top: 33px;
        padding-bottom: 33px;
   }
   .box-summary .freeTurkey .promo-product .flexdirrow .product-item__price{
    display: none;
   }
   .box-summary .freeTurkey .promo-product .flexdirrow,.box-summary .freeTurkey .promo-product .flexdirrow .cartfontcontainer{
        display: flex;
        justify-content: center;
        width: 100%;
        background: var(--color-green);
        color: var(--color-white);
        border-color: var(--color-green);
        height: 2rem;
        border-radius: unset;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
   }
   .box-summary .freeTurkey .promo-product .flexdirrow .cartfontcontainer .product-item__title{
        color: var(--color-white);
   }
   .box-summary .freeTurkey .variant-title{
       font-size: 11px;
       font-weight: 500;
   }
  .box-summary .box-giftproduct_mobile,
  .box-summary .freeTurkey,
  .box-summary .productsimage{
        flex: 0 0 calc(33.33% - 12px); /* Adjust the width as needed and consider any margin or padding */
        box-sizing: border-box;
        margin: 6px; 
  }
   .mobile_gift_pro_info{
        word-wrap: break-word;
        font-size: 11px;
        font-weight: 700;
        background: var(--color-white-2);
        color: var(--color-black);
        height: 2rem;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        margin-top: -3%;
   }
   .box-summary .product-item__badges{
        display: block;
        left: 0;
        padding: 1px 5px;
        font-size: 11px;
        color: var(--color-white);
        width: calc(100% - (var(--gutter-small) * 5));
    }
    .product-item__badges.width_100{
        width: 100%;
    }
   .box-summary .product-item__badges.bg-green{
        background: var(--color-green);
    }
    .box-summary .product-item__badges.bg_maroon{
       background: var(--color-maroon);
   }
   .box-summary .promo-product-color .product-item__badges.bg_blue,
   .box-summary .freeTurkey .promo-product.promo-product-color .flexdirrow{
        background: var(--color-blue);
        border-radius: 3px;
    }
  /* NEW Figma */
  .mount-announcement-bar,.rc-widget,.remove-empty-space .custom-bundle-border,.sticky_svg_cart,.for_desktop,.section-heading__title,.frequentlyflex,.productcontainerindex .bundleselectore_container .newcustomfilter,.buncleselectlabel,.overlaycustom{
        display: none;
    }
    .for_mobile{
        display: block;
    }
    .stickycartbtn{
        width: 97%;
    }
    .logo_text_header{
        font-size: 20px;
        font-weight: 600;
    }
    #main.backimage .shopify-section.subscription-widget .container--vertical-space{
        margin-top: 0;
    }
    .textfilter{
        margin: 0 auto;
        font-size: 14px;
        color: var(--color-black);
    }
    .display_mobile .selected-btn-color{
        background-image: none;
        border: 1.8px solid var(--color-green);
        border-radius: 15px;
        justify-content: center;
    }
  
    .selected-btn-color.active .tablisting,.selected-btn-color.active {
        background-image: none !important;
        background: var(--color-green);
        display: flex;
    }
    .tablisting {
        font-size: 14px;
        font-weight: 500;
        color: var(--color-green);
        font-weight: 700;
    }
    .no-touchevents .stickycartbtn button.button:hover{
        background-color:var(--color-gray);
        border-color:var(--color-gray);
        color:var(--color-white);
    }
    .no-touchevents .stickycartbtn button.button.bg-green:hover{
        background-color:var(--color-green);
        border-color:var(--color-green);
    }
    .freeTurkey .promo-product img.turkey_product_padding{
        padding: 12px 0;
    }
    .box-giftproduct_mobile img{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .box-summary .freeTurkey .promo-product-color .flexdirrow{
        margin-top: -7%;
    }
    .box-summary .freeTurkey .variant-title{
        margin-bottom: 0;
    }
   
    .box-header .promo-product-color.product-item.card.container-box{
        border: 1px solid var(--color-blue);
    }
    .distext{
        width: 100%;
    }
  /* NEW Figma */
  
}