.custom-bundle{
    /* max-width: 80rem; */
    display: flex;
    /* flex-wrap: wrap; */
}
.custom-bundle .product-item:hover{
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / .25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),var(--tw-ring-shadow, 0 0 #0000),var(--tw-shadow);
}
.custom-bundle .cartcolumn .product-item:hover{
    --tw-shadow: 0 25px 10px -12px rgb(0 0 0 / .10);
}
.main-custombundle .grid-cols-2{
    grid-template-columns: repeat(3,minmax(0,1fr));
    --col-size:33.33%;
}
.main-custombundle {
    width: 69%;
}
.cartcolumn{
    width: 29%;
    margin-left: 2%;
    text-align: center;
}
.customfilter{
    margin-bottom: 50px;
    width: 30%;
    margin-left: 0;
    padding-left: 0;
}
.box-summary .variant-title,.box-giftproduct .variant-title,.box-giftproduct .variant-label,.box-giftproduct .product-variant-value,.box-giftproduct .product-variant-select{
    font-size: 14px;
}
.box-summary .product-item{
    flex-direction: row;
    
}
.box-giftproduct .product-variant-container{
    width: 60%;
}
.box-giftproduct .variant-label{
    width: 40%;
}
.box-giftproduct .product-variant{
    display: flex;
    align-items: center;
}
.box-giftproduct .giftProduct{
    display: flex;
    flex-direction: row;  
    align-items: center;
    padding: 0 5px;
    justify-content: space-between;
    width: 100%;  
}
.box-giftproduct{
    border-left: 1px solid rgb(211 211 211);
    border-right: 1px solid rgb(211 211 211);
    display: none;
}

.box-giftproduct.show{
    display: block;
}
.maingiftproductitem{
    margin: 0 2%;
    padding-top: 2%;
}
.giftProduct .product-actions{
    display: none;
}
.main-custombundle .variant-title{
    font-size: 18px;
    text-align: center;
    height: 50px;
    display: block;
}
.container-box{
    background-color: #F9FAFB;
    --tw-shadow: #F9FAFB;
    --tw-shadow-colored:#F9FAFB;
    -webkit-box-shadow: #F9FAFB;
    box-shadow: #F9FAFB;
    text-align: center;
    padding-bottom: 10px;
}
.main-custombundle  .add-button{
    font-size: 16px;
    padding: 7px 15px;
    min-width: auto;
    margin-bottom: 0;

}
.main-custombundle .product-quantity{
    justify-content: center;
    padding-top: 5px;
    display: none;
}
.main-custombundle .product-quantity.show{
    display: block;
}
.main-custombundle  .product-quantity__selector,.box-summary  .product-quantity__selector{
    /* border-width: var(--border-width-buttons);
    border-style: solid;
    border-color: var(--color-text-main); */
    height: 2rem;
    width: 3rem;
    border-radius: unset;
    font-size: 14px;
}
.box-summary  .product-quantity__selector{
    width: 2rem;
}
.main-custombundle .product-quantity__minus,.main-custombundle .product-quantity__plus,
.box-summary .product-quantity__minus,.box-summary .product-quantity__plus{
    /* border-radius:unset; */
    height: 2rem;
    width: 2rem;
}
.box-summary  .container-box{
    display: flex;
    align-items: center;
    padding: 0 5px;

}
.box-summary .product-quantity{
    justify-content: end;
}
.box-summary .cartbox-title{
    width: 45%;

}
.box-summary .productsimage  img,.cartgiftproduct img{
    width: 72px;
}
.box-summary .productsimage:nth-child(even) .container-box{
    background-color: #fff;
}
.box-summary .productsimage {
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}
.box-summary{
    width: 100%;
    overflow: scroll;
    height: 350px;
}
.box-summary::-webkit-scrollbar{
    width: 8px;
}
.box-summary::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(145, 145, 145, 0.3);
	background-color: #bbbbbb;
}
.box-header,.box-footer,.box-summary{
        border: 1px solid rgb(211 211 211);
}
.box-footer{
    border-top: none;
    padding: 1.25rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box-header{
    padding: 1.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box-header-title{
    text-align: center;
}
.box-footer .button{
    font-size: 16px;
}
.box-summary .product-quantity{
    min-width: unset;
}
/* progressbar */

.range-input{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .range-input input{
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background-color: #425B34;
    padding: unset;
    pointer-events: none;
  }
  .range-input input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 3px solid #016b21;
    border-radius:50%;
    outline: none;
  }
  
  .range-input input::-webkit-slider-thumb:hover{
    background-color: #127512;
  }
  .range-input .value{
    color: #4471ef;
    text-align: center;
    font-weight:600;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
  }
  .range-input .value div{
    transition: all 300ms ease-in-out;
  }
  .imageforcart{
    display:none;
  }
  .box-summary .card__image{
    display:none;
  }
  .box-summary .imageforcart{
    display:block;
  }
  .box-summary .addButton {
    display: none;
  }
  .box-summary .flexdirrow{
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .productsimage .product-item__quick-buy{
    display: none;
  }
  .main-custombundle .productsimage .lazy-image  img{
    cursor: pointer;
    padding: 0;
  }
/* progressbar */
.stickycart{
    display: none;
}
.containercircle{
    display: none;
}
.main-custombundle .remove-item{
    display:none;
}
.box-summary .remove-item{
    font-size: 12px;
}
.box-summary .flexdirrow{
    padding: 20px 2px;
}
.newcustomfilter{
    margin: 50px 0;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    /* align-items: center; */
}
.filtertab{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;

}
.filterlabel{
    font-size: 32px;
    font-weight: 900;
}
.tablisting{
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #fff;
    background: #425B34;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: var(--border-radius-buttons);
}
.newcustomfilter .seconfsection{
    width: 35px;
    margin-right: 2%;
    margin-top: 8px;

}
.seconfsectiontext{
    background: #000;
    color: #fff;
    width: 100%;
    display: block;
    text-align: center;
    border-radius: 40px;
    padding: 5px 0;
    font-weight: 900;
}
.customfilter {
    display: none;
}
@media screen and (max-width: 1110px){
    .box-summary .product-quantity{
        justify-content: center;

    }
    .tablisting{
        padding: 8px 10px;
    }
}
@media screen and (max-width: 1024px){
    .progress-container {
        display: flex;
        align-items: center;
    }
    .custom-bundle .cartcolumn{
        background-color: #fff;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 96%;
        height: 89vh;
        min-height: auto;
        max-height: 89vh;
        z-index: 1000;
        overflow: hidden;
        -webkit-transition-property: -webkit-transform;
        transition-property: -webkit-transform;
        -o-transition-property: transform;
        transition-property: transform;
        transition-property: transform,-webkit-transform;
        -webkit-transition-timing-function: cubic-bezier(.4,0,.2,1);
        -o-transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        -webkit-transition-duration: .25s;
        -o-transition-duration: .25s;
        transition-duration: .25s;
        --tw-translate-y: 100%;
        -webkit-transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        transform: translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        -webkit-transform: translate3d(var(--tw-translate-x),var(--tw-translate-y),0) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        transform: translate3d(var(--tw-translate-x),var(--tw-translate-y),0) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
        transform: translateY(100%);
    }
    .custom-bundle .cartcolumn.active{
        transform: translateY(0);
        box-shadow: 0px -5px 20px 0 #333;
    }
    .range-input{
        width: 90%;
    }
    .containercircle{
        display: block;
        width: 10%;
    }
    .circlebtn{
        border: 1px solid;
        border-radius: 40px;
        width: 2rem;
        height: 2rem;
    }
    .stickycart{
        display: block;
        padding-bottom: 60px;
        margin: 0;
    }
    .stickycartbtn{
        position: fixed;
        bottom: 0;
        width: 92%;
        z-index: 99;
        background-color: var(--color-text-main);
        border-color: var(--color-text-main);
        color: var(--color-foreground-main);
        margin-bottom: 1px;
    }
    .custom-bundle {
        display: flex;
        flex-wrap: wrap;
    }
    .main-custombundle,.cartcolumn{
        width: 100%;
    }
    .main-custombundle{
        margin-bottom: 5%;
    }
    .box-footer{
        padding: 5px;
    }
    .box-header{
        position: fixed;
        bottom: 0;
        margin-bottom: 1px;
        border: 1px solid rgb(211 211 211);
        border-radius: 10px;
        box-shadow: 0px -5px 20px 0 #333;
        height: 89vh;
        width: 100%;
    }
    .product-container,.box-summary{
        height: 420px;
        border: 1px solid rgb(211 211 211);
    }
    .box-summary{
        border: none;
        height: 300px;        
    }
    .box-giftproduct{
       border: none;
    }
    .customfilter {
        display: block;
        width: 50%;
        margin: 15px auto;
    }
    .filtertab{
        display: none;
    }
    .filterlabel{
        /* width: 30%; */
        font-size: 20px;
        font-weight: 600;
    }
}
/* quick view css */
.modal-content .product-price,.modal-content .product-actions .product-price,.modal-content .product-quantity,.modal-content  .product-variants,.modal-content .product__subtitle,.shopify-product-form shopify-payment-terms{
    display:none;
  }
  .modal-content  .add-to-cart .button__text{
    font-size: 18px;
  }
  .modal-content  .product__title{
    font-size: 20px;
  }
  .modal-content  .product__description  .hide, .hidden{
    display:block;
  }
  /* quick view css */