.custom-bundle{
    /* max-width: 80rem; */
    display: flex;
    /* flex-wrap: wrap; */
}
.main-custombundle .grid-cols-2{
    grid-template-columns: repeat(3,minmax(0,1fr));
    --col-size:33.33%;
}
.main-custombundle {
    width: 67%;
}
.cartcolumn{
    width: 33%;
    text-align: center;
}
.box-summary .variant-title{
    font-size: 14px;
}
.main-custombundle .variant-title{
    font-size: 18px;
    text-align: center;
    height: 50px;
}
.container-box{
    background-color: #F9FAFB;
    --tw-shadow: #F9FAFB;
    --tw-shadow-colored:#F9FAFB;
    -webkit-box-shadow: #F9FAFB;
    box-shadow: #F9FAFB;
    text-align: center;
    padding-bottom: 10px;
}
.main-custombundle  .add-button{
    font-size: 16px;
    padding: 7px 15px;
    min-width: auto;
}
.main-custombundle .product-quantity{
    justify-content: center;
    padding-top: 5px;
    display: none;
}
.main-custombundle .product-quantity.show{
    display: block;
}
.main-custombundle  .product-quantity__selector,.box-summary  .product-quantity__selector{
    /* border-width: var(--border-width-buttons);
    border-style: solid;
    border-color: var(--color-text-main); */
    height: 2rem;
    width: 3rem;
    border-radius: unset;
    font-size: 14px;
}
.box-summary  .product-quantity__selector{
    width: 2rem;
}
.main-custombundle .product-quantity__minus,.main-custombundle .product-quantity__plus,
.box-summary .product-quantity__minus,.box-summary .product-quantity__plus{
    /* border-radius:unset; */
    height: 2rem;
    width: 2rem;
}
.box-summary  .container-box{
    display: flex;
    align-items: center;
    padding: 0 5px;

}
.box-summary .product-quantity{
    justify-content: end;
}
.box-summary .cartbox-title{
    width: 45%;

}
.box-summary .productsimage  img{
    width: 72px;
}
.box-summary .productsimage:nth-child(even) .container-box{
    background-color: #fff;
}
.box-summary{
    width: 100%;
    overflow: scroll;
    height: 350px;
}
.box-summary::-webkit-scrollbar{
    width: 8px;
}
.box-summary::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.box-header,.box-footer,.box-summary{
        border: 1px solid rgb(211 211 211);
}
.box-footer{
    border-top: none;
    padding: 1.25rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.box-header{
    border-bottom: none;
    padding: 1.25rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.box-header-title{
    text-align: center;
}
.box-footer .button{
    font-size: 16px;
}
/* progressbar */

.range-input{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .range-input input{
    -webkit-appearance: none;
    width: 80%;
    height: 2px;
    background-color: #4471ef;
    outline: none;
    padding: unset;
  }
  .range-input input::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 2px solid #4471ef;
    border-radius:50%;
    outline: none;
  }
  .range-input input::-webkit-slider-thumb:hover{
    background-color: #4471ef;
  }
  .range-input .value{
    color: #4471ef;
    text-allign: center;
    font-weight:600;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
  }
  .range-input .value div{
    transition: all 300ms ease-in-out;
  }
/* progressbar */
@media screen and (max-width: 1110px){
    .box-summary .product-quantity{
        /* font-size: 16px; */
        justify-content: center;

    }
}
@media screen and (max-width: 1024px){
 
    .custom-bundle {
        display: flex;
        flex-wrap: wrap;
    }
    .main-custombundle,.cartcolumn {
        width: 100%;
    }
}
